body {
  margin: 0;
}

.mobile-nav-button img {
  width: 18px;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

li {
  padding: 10px;
}

@media (max-width: 800px) {
  .desktop-nav {
    display: none;
  }
}

@media (min-width: 800px) {
  .mobile-nav {
    display: none;
  }
}
